.form-wrapper {
   display: flex;
}

.add-form {
    margin: 1rem auto;
}
.add-form label {
    font-weight: bold;
    display: block;
}
.add-form p {
    margin-top: 20px;
}

.add-form small {
    font-weight: normal;
}

.add-form input, .add-form textarea {
    width: 100%;
    font-weight: normal;
    margin-top: 10px;
    padding: 10px;

}

.add-form button {
    margin-top: 40px;
    width: 100%
}

@media screen and (max-width: 570px) {
    .add-form {
        width: 80%
    }
}