.search {
    display: flex;
}

.search input {
    width: 10rem;
    margin-right: 5px;
}

.wrapper {
    overflow: hidden;
    height: 100vh;
}

@media screen and (max-width: 825px) {
    header h1 {
        font-size: 1.2rem;
    }
    button {
        font-size: 0.8rem;
    }
}